.form-group {
  position: relative;
  display: inline-flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
}

.form-group .form-wrap {
  margin-top: 0;
  margin-bottom: 0;
  margin-right: var(--form-wrap-space);
  display: flex;
  align-items: center;
}

.form-group .form-group-text,
.form-group .button,
.form-group .form-input-button input[type="checkbox"]+label,
.form-group .form-input-button input[type="radio"]+label,
.form-group .form-input-button input[type="color"]+label,
.form-group .form-input-button input[type="file"]+label,
.form-group>select,
.form-group>input[type="email"],
.form-group>input[type="number"],
.form-group>input[type="password"],
.form-group>input[type="search"],
.form-group>input[type="tel"],
.form-group>input[type="text"],
.form-group>input[type="color"],
.form-group>input[type="range"] {
  margin: 0;
  border-radius: 0;
  height: inherit;
  min-height: 2.5em;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  z-index: 1;
}

.form-group .button-line:after,
.form-group .form-input-button-line input[type="checkbox"]+label:after,
.form-group .form-input-button-line input[type="radio"]+label:after,
.form-group .form-input-button-line input[type="color"]+label:after,
.form-group .form-input-button-line input[type="file"]+label:after {
  border-radius: 0;
}

.form-group .form-group-text {
  flex-shrink: 0;
}

.form-group .form-group-text:focus,
.form-group .button:focus,
.form-group .form-input-button input[type="checkbox"]:focus+label,
.form-group .form-input-button input[type="radio"]:focus+label,
.form-group .form-input-button input[type="color"]:focus+label,
.form-group .form-input-button input[type="file"]:focus+label,
.form-group>select:focus,
.form-group>input[type="email"]:focus,
.form-group>input[type="number"]:focus,
.form-group>input[type="password"]:focus,
.form-group>input[type="search"]:focus,
.form-group>input[type="tel"]:focus,
.form-group>input[type="text"]:focus,
.form-group>input[type="color"]:focus,
.form-group>input[type="range"]:focus {
  z-index: 2;
}

.form-group .form-group-text:hover,
.form-group .form-group-text:active,
.form-group .button:hover,
.form-group .button:active,
.form-group .form-input-button input[type="checkbox"]:hover+label,
.form-group .form-input-button input[type="checkbox"]:active+label,
.form-group .form-input-button input[type="radio"]:hover+label,
.form-group .form-input-button input[type="radio"]:active+label,
.form-group .form-input-button input[type="color"]:hover+label,
.form-group .form-input-button input[type="color"]:active+label,
.form-group .form-input-button input[type="file"]:hover+label,
.form-group .form-input-button input[type="file"]:active+label,
.form-group>select:hover,
.form-group>select:active,
.form-group>input[type="email"]:hover,
.form-group>input[type="email"]:active,
.form-group>input[type="number"]:hover,
.form-group>input[type="number"]:active,
.form-group>input[type="password"]:hover,
.form-group>input[type="password"]:active,
.form-group>input[type="search"]:hover,
.form-group>input[type="search"]:active,
.form-group>input[type="tel"]:hover,
.form-group>input[type="tel"]:active,
.form-group>input[type="text"]:hover,
.form-group>input[type="text"]:active,
.form-group>input[type="color"]:hover,
.form-group>input[type="color"]:active,
.form-group>input[type="range"]:hover,
.form-group>input[type="range"]:active {
  z-index: 3;
}

.form-group .form-input-button input[type="checkbox"]:checked+label,
.form-group .form-input-button input[type="radio"]:checked+label,
.form-group .form-input-button input[type="color"]:checked+label,
.form-group .form-input-button input[type="file"]:checked+label {
  z-index: 3;
}

.form-group .form-group-text:first-child,
.form-group .button:first-child,
.form-group .button-line:first-child:after,
.form-group .form-input-button:first-child input[type="checkbox"]+label,
.form-group .form-input-button:first-child input[type="radio"]+label,
.form-group .form-input-button:first-child input[type="color"]+label,
.form-group .form-input-button:first-child input[type="file"]+label,
.form-group .form-input-button-line:first-child input[type="checkbox"]+label:after,
.form-group .form-input-button-line:first-child input[type="radio"]+label:after,
.form-group .form-input-button-line:first-child input[type="color"]+label:after,
.form-group .form-input-button-line:first-child input[type="file"]+label:after,
.form-group>select:first-child,
.form-group>input[type="email"]:first-child,
.form-group>input[type="number"]:first-child,
.form-group>input[type="password"]:first-child,
.form-group>input[type="search"]:first-child,
.form-group>input[type="tel"]:first-child,
.form-group>input[type="text"]:first-child,
.form-group>input[type="color"]:first-child,
.form-group>input[type="range"]:first-child {
  border-radius: var(--theme-radius) 0 0 var(--theme-radius);
}

.form-group .form-group-text:last-child,
.form-group .button:last-child,
.form-group .button-line:last-child:after,
.form-group .form-input-button:last-child input[type="checkbox"]+label,
.form-group .form-input-button:last-child input[type="radio"]+label,
.form-group .form-input-button:last-child input[type="color"]+label,
.form-group .form-input-button:last-child input[type="file"]+label,
.form-group .form-input-button-line:last-child input[type="checkbox"]+label:after,
.form-group .form-input-button-line:last-child input[type="radio"]+label:after,
.form-group .form-input-button-line:last-child input[type="color"]+label:after,
.form-group .form-input-button-line:last-child input[type="file"]+label:after,
.form-group>select:last-child,
.form-group>input[type="email"]:last-child,
.form-group>input[type="number"]:last-child,
.form-group>input[type="password"]:last-child,
.form-group>input[type="search"]:last-child,
.form-group>input[type="tel"]:last-child,
.form-group>input[type="text"]:last-child,
.form-group>input[type="color"]:last-child,
.form-group>input[type="range"]:last-child {
  border-radius: 0 var(--theme-radius) var(--theme-radius) 0;
}

.form-group .form-group-text:only-child,
.form-group .button:only-child,
.form-group .button-line:only-child:after,
.form-group>select:only-child,
.form-group>input[type="email"]:only-child,
.form-group>input[type="number"]:only-child,
.form-group>input[type="password"]:only-child,
.form-group>input[type="search"]:only-child,
.form-group>input[type="tel"]:only-child,
.form-group>input[type="text"]:only-child,
.form-group>input[type="color"]:only-child,
.form-group>input[type="range"]:only-child {
  border-radius: var(--theme-radius);
}

.form-group.form-group-nested-button * .button,
.form-group.form-group-nested-button * .button-line:after,
.form-group.form-group-nested-button * input[type="checkbox"]+label,
.form-group.form-group-nested-button * input[type="radio"]+label,
.form-group.form-group-nested-button * input[type="color"]+label {
  border-radius: 0;
}

.form-group.form-group-nested-button *:first-child .button,
.form-group.form-group-nested-button *:first-child .button-line:after,
.form-group.form-group-nested-button *:first-child input[type="checkbox"]+label,
.form-group.form-group-nested-button *:first-child input[type="radio"]+label,
.form-group.form-group-nested-button *:first-child input[type="color"]+label {
  border-radius: var(--theme-radius) 0 0 var(--theme-radius);
}

.form-group.form-group-nested-button *:last-child .button,
.form-group.form-group-nested-button *:last-child .button-line:after,
.form-group.form-group-nested-button *:last-child input[type="checkbox"]+label,
.form-group.form-group-nested-button *:last-child input[type="radio"]+label,
.form-group.form-group-nested-button *:last-child input[type="color"]+label {
  border-radius: 0 var(--theme-radius) var(--theme-radius) 0;
}

.form-group .form-group-radius-left.form-group-text,
.form-group .form-group-radius-left.button,
.form-group .form-group-radius-left.button-line:after,
.form-group>select.form-group-radius-left,
.form-group>input.form-group-radius-left[type="email"],
.form-group>input.form-group-radius-left[type="number"],
.form-group>input.form-group-radius-left[type="password"],
.form-group>input.form-group-radius-left[type="search"],
.form-group>input.form-group-radius-left[type="tel"],
.form-group>input.form-group-radius-left[type="text"],
.form-group>input.form-group-radius-left[type="color"],
.form-group>input.form-group-radius-left[type="range"] {
  border-top-left-radius: var(--theme-radius);
  border-bottom-left-radius: var(--theme-radius);
}

.form-group .form-group-radius-right.form-group-text,
.form-group .form-group-radius-right.button,
.form-group .form-group-radius-right.butbutton-lineton:after,
.form-group>select.form-group-radius-right,
.form-group>input.form-group-radius-right[type="email"],
.form-group>input.form-group-radius-right[type="number"],
.form-group>input.form-group-radius-right[type="password"],
.form-group>input.form-group-radius-right[type="search"],
.form-group>input.form-group-radius-right[type="tel"],
.form-group>input.form-group-radius-right[type="text"],
.form-group>input.form-group-radius-right[type="color"],
.form-group>input.form-group-radius-right[type="range"] {
  border-top-right-radius: var(--theme-radius);
  border-bottom-right-radius: var(--theme-radius);
}

.form-group-block {
  display: flex;
  width: 100%;
}

.form-group-border {
  border-radius: var(--theme-radius);
  border-width: var(--layout-line-width);
  border-color: rgb(var(--form-group-text-border));
  border-style: solid;
  overflow: hidden;
}

.form-group-border-theme-color {
  border-color: rgb(var(--theme-color));
}

.form-group.form-group-border .form-group-text,
.form-group.form-group-border .button,
.form-group.form-group-border .button-line:after,
.form-group.form-group-border>select,
.form-group.form-group-border>input[type="email"],
.form-group.form-group-border>input[type="number"],
.form-group.form-group-border>input[type="password"],
.form-group.form-group-border>input[type="search"],
.form-group.form-group-border>input[type="tel"],
.form-group.form-group-border>input[type="text"],
.form-group.form-group-border>input[type="color"],
.form-group.form-group-border>input[type="range"],
.form-group.form-group-border.form-group-nested-button * .button,
.form-group.form-group-border.form-group-nested-button * .button-line:after,
.form-group.form-group-border.form-group-nested-button * input[type="checkbox"]+label,
.form-group.form-group-border.form-group-nested-button * input[type="radio"]+label,
.form-group.form-group-border.form-group-nested-button * input[type="color"]+label {
  border-radius: 0;
}

.form-group-text {
  background-color: rgb(var(--form-group-text-background));
  padding: 0 1.25em;
  margin: 0;
  color: rgb(var(--form-input-text));
  min-width: 4em;
  font-size: 1em;
  font-family: var(--theme-font-ui-name);
  font-weight: var(--theme-font-ui-weight);
  font-style: var(--theme-font-ui-style);
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  border-width: var(--layout-line-width);
  border-color: rgb(var(--form-group-text-border));
  border-style: solid;
  border-radius: var(--theme-radius);
  white-space: nowrap;
  transition: background-color var(--layout-transition-extra-fast), border-color var(--layout-transition-extra-fast), color var(--layout-transition-extra-fast);
}

.form-group-text:hover,
.form-group-text:focus {
  background-color: rgb(var(--form-group-text-background-focus-hover));
  border-color: rgb(var(--form-group-text-border-focus-hover));
  color: rgb(var(--form-input-text-hover));
  outline: none;
}

.form-group-text:active {
  background-color: rgb(var(--form-group-text-background-active));
  border-color: rgb(var(--form-group-text-border-active));
  color: rgb(var(--form-input-text-hover));
  outline: none;
}

.form-group-text.disabled,
.form-group-text.disabled:hover,
.form-group-text.disabled:focus,
.form-group-text.disable:active {
  background-color: rgb(var(--form-group-text-background-disabled));
  border-color: rgb(var(--form-group-text-border-disabled));
  color: rgb(var(--form-input-text-disabled));
  box-shadow: none;
  cursor: default;
}

.form-group-text-left {
  justify-content: flex-start;
}

.form-group-text-right {
  justify-content: flex-end;
}

.form-group-item-small,
.form-group-item-medium,
.form-group-item-large,
.form-group>.button.form-group-item-small,
.form-group>.button.form-group-item-medium,
.form-group>.button.form-group-item-large,
.form-group>select.form-group-item-small,
.form-group>select.form-group-item-medium,
.form-group>select.form-group-item-large,
.form-group>input[type].form-group-item-small,
.form-group>input[type].form-group-item-medium,
.form-group>input[type].form-group-item-large {
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.form-group-item-small,
.form-group>.button.form-group-item-small,
.form-group>select.form-group-item-small,
.form-group>input[type].form-group-item-small {
  width: 3em;
}

.form-group-item-medium,
.form-group>.button.form-group-item-medium,
.form-group>select.form-group-item-medium,
.form-group>input[type].form-group-item-medium {
  width: 6em;
}

.form-group-item-large,
.form-group>.button.form-group-item-large,
.form-group>select.form-group-item-large,
.form-group>input[type].form-group-item-large {
  width: 9em;
}

.form-group-item-shrink,
.form-group>.button.form-group-item-shrink,
.form-group>select.form-group-item-shrink,
.form-group>input[type].form-group-item-shrink {
  flex-grow: 0;
}

.form-group-item-grow,
.form-group>.button.form-group-item-grow,
.form-group>select.form-group-item-grow,
.form-group>input[type].form-group-item-grow {
  flex-grow: 1;
}

.form-group-item-half,
.form-group>.button.form-group-item-half,
.form-group>select.form-group-item-half,
.form-group>input[type].form-group-item-half {
  flex-basis: 50%;
}

.form-group-text-borderless {
  padding: 0;
  border-width: 0;
  min-width: inherit;
}

.form-group-text-transparent,
.form-group-text-transparent:hover,
.form-group-text-transparent:focus,
.form-group-text-transparent:active,
.form-group-text-transparent.disabled,
.form-group-text-transparent.disabled:hover,
.form-group-text-transparent.disabled:focus,
.form-group-text-transparent.disable:active {
  background-color: transparent;
}
